/* Heading */
.heading-container{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5%;
}

body{
    background: #E5DEC6;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0) 00%);
    background-size: 15px 15px; /* Adjust dot size and spacing */
    background-color: #E5DEC6; /* Base color (pink) */
}

h1{
    text-align: left;
    font-size: 5em;
    color: white;
    margin-left: 1em;
    padding-top: 1%;
    -webkit-text-stroke: 4px black;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}


h2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
}

h3{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
}

h4{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
}

h5{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding-bottom: 1em;
}

h6{
    color: black;
    font-weight: bold;
}

p{
    color: black;
}

li{
    color: black;
}

#firstBar{
    text-align: center;
}

#debaterProfile{
    text-align: center;
}

#affNegSplits{
    text-align: center;
    overflow: hidden;
}


#winsELOs{
    text-align: center;
}

#eloChange{
    text-align: center;
}

#performanceSimulator{
    text-align: center;
}

.vis{
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px dashed white;
}

.select-container {
    display: flex;
    gap: 10px;  /* Add space between select elements */
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.select-box {
    width: 150px; /* Set width for each select */
    padding: 5px; /* Optional padding */
}


.minTournament{
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.vis-container{
    display: flex;
}

/* Navigation Dots */
.navigation_dots {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1%;
    list-style: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.navigation_dots li {
    width: 1vw;
    height: 1vw;
    background: #000000;
    border: 0.3vw solid #fff4d6;
    border-radius: 50%;
    margin-top: 1vw;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navigation_dots li:hover,
.navigation_dots li.selected {
    transform: scale(1.5);
    background: #ff6666; /* Highlight active dot */
}


/* Sections */

.section1, .section3, .section5, .section7, .section9 {
    position: relative;
    height: 90vh;
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
    background-color:#74C7BD;
    margin: auto; /* Horizontally center the section */
    justify-content: center; /* Horizontal centering */
    padding: 2em;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 00%);
    background-size: 5px 5px; /* Adjust dot size and spacing */
    background-color: #74C7BD; /* Base color (pink) */
}

.section2, .section4, .section6, .section8, .section10 {
    position: relative;
    height: 90vh;
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
    background-color:#FE1D87;
    margin: auto; /* Horizontally center the section */
    justify-content: center; /* Horizontal centering */
    padding: 1em;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 00%);
    background-size: 5px 5px; /* Adjust dot size and spacing */
    background-color: #ff69b4; /* Base color (pink) */
}


